.creatorContainer
    display flex

    & > *
        width 50%

.headline
    color rgba(34, 34, 34, 0.2)
    font-size 14px
    font-weight 700
    text-transform uppercase
    // Text style for "text"
    letter-spacing 2px
    text-align left
    margin-bottom 16px

.overlay
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1100;

.overlayContent
    box-shadow: 0 4px 14px #f1f1f1;
    border-radius: 4px;
    background-color: #ffffff;
    width: 584px;
    height: 165px;
    padding: 26px
    text-align: left;
    position relative

    h4
        margin: 0px
        padding: 0px
        color: #222222;
        font-size: 18px;
        font-weight: 700;
        /* Text style for "published" */
        margin-top 20px

    img
        position: absolute
        top: 110px;
        left: 387px;


.button
    width 224px
    color #ffffff
    font-size 18px
    font-weight 700
    margin-top 40px
    padding 15px 15px 18px 15px
    box-shadow 0 2px 10px rgba(123, 206, 31, 0.7), 0 2px 4px rgba(0, 0, 0, 0.07)
    border-radius 4px
    background-image linear-gradient(to right, #94df42 0%, #7ed321 100%)
    cursor pointer

    &:hover {
        background-image linear-gradient(to right, darken(#94df42, 10%) 0%, darken(#7ed321, 10%) 100%)
    }